#### 1. Find features the company is looking for.
#### 2. Create a predicting model.
#### 3. Divide the dataset (train, test).
#### 4. MSE.

### Import Data:

In [3]:
#import required libraries
import pandas as pd

In [5]:
df_ad_budget_data = pd.read_csv('Advertising+Budget+and+Sales.csv')
df_ad_budget_data

,Unnamed: 0,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($),Sales ($)
0,1,230.1,37.8,69.2,22.1
1,2,44.5,39.3,45.1,10.4
2,3,17.2,45.9,69.3,9.3
3,4,151.5,41.3,58.5,18.5
4,5,180.8,10.8,58.4,12.9
...,...,...,...,...,...
195,196,38.2,3.7,13.8,7.6
196,197,94.2,4.9,8.1,9.7
197,198,177.0,9.3,6.4,12.8
198,199,283.6,42.0,66.2,25.5
199,200,232.1,8.6,8.7,13.4

In [19]:
#Filtering by Sales > 22$
df_ad_budget_data[df_ad_budget_data['Sales ($)']>22]

,Unnamed: 0,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($),Sales ($)
0,1,230.1,37.8,69.2,22.1
15,16,195.4,47.7,52.9,22.4
17,18,281.4,39.6,55.8,24.4
36,37,266.9,43.8,5.0,25.4
47,48,239.9,41.5,18.5,23.2
52,53,216.4,41.7,39.6,22.6
55,56,198.9,49.4,60.0,23.7
58,59,210.8,49.6,37.7,23.8
61,62,261.3,42.7,54.7,24.2
69,70,216.8,43.9,27.2,22.3
93,94,250.9,36.5,72.3,22.2
98,99,289.7,42.3,51.2,25.4
101,102,296.4,36.3,100.9,23.8
128,129,220.3,49.0,3.2,24.7
147,148,243.2,49.0,44.3,25.4
175,176,276.9,48.9,41.8,27.0
183,184,287.6,43.0,71.8,26.2
185,186,205.0,45.1,19.6,22.6
198,199,283.6,42.0,66.2,25.5

In [20]:
df_ad_budget_data[(df_ad_budget_data['Sales ($)']>22) & (df_ad_budget_data['TV Ad Budget ($)']>250)]

,Unnamed: 0,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($),Sales ($)
17,18,281.4,39.6,55.8,24.4
36,37,266.9,43.8,5.0,25.4
61,62,261.3,42.7,54.7,24.2
93,94,250.9,36.5,72.3,22.2
98,99,289.7,42.3,51.2,25.4
101,102,296.4,36.3,100.9,23.8
175,176,276.9,48.9,41.8,27.0
183,184,287.6,43.0,71.8,26.2
198,199,283.6,42.0,66.2,25.5

In [21]:
df_ad_budget_data.loc[10:15, 'TV Ad Budget ($)':'Newspaper Ad Budget ($)']

    TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
10              66.1                  5.8                     24.2
11             214.7                 24.0                      4.0
12              23.8                 35.1                     65.9
13              97.5                  7.6                      7.2
14             204.1                 32.9                     46.0
15             195.4                 47.7                     52.9

In [22]:
df_ad_budget_data.index

RangeIndex(start=0, stop=200, step=1)

In [23]:
df_ad_budget_data.columns

Index(['Unnamed: 0', 'TV Ad Budget ($)', 'Radio Ad Budget ($)',
       'Newspaper Ad Budget ($)', 'Sales ($)'],
      dtype='object')

In [24]:
#Putting first column as index
df_ad_budget_data_ind = pd.read_csv('Advertising+Budget+and+Sales.csv', index_col=0)
df_ad_budget_data_ind

     TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1               230.1                 37.8                     69.2       22.1
2                44.5                 39.3                     45.1       10.4
3                17.2                 45.9                     69.3        9.3
4               151.5                 41.3                     58.5       18.5
5               180.8                 10.8                     58.4       12.9
..                ...                  ...                      ...        ...
196              38.2                  3.7                     13.8        7.6
197              94.2                  4.9                      8.1        9.7
198             177.0                  9.3                      6.4       12.8
199             283.6                 42.0                     66.2       25.5
200             232.1                  8.6                      8.7       13.4

[200 rows x 4 columns]

In [25]:
#View initial few records of the dataset
df_ad_budget_data_ind.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [26]:
#Check the total number of elements in the dataset
df_ad_budget_data_ind.size

800

### Find the features or media channels used by the firm

In [27]:
df_ad_budget_data_ind.shape

(200, 4)

In [28]:
df_ad_budget_data_ind.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

### Create objects to train and test the model

In [30]:
#Create a feature object from the columns
X_features = df_ad_budget_data_ind[['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)']]

In [31]:
#View the feature object
X_features.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
1             230.1                 37.8                     69.2
2              44.5                 39.3                     45.1
3              17.2                 45.9                     69.3
4             151.5                 41.3                     58.5
5             180.8                 10.8                     58.4

In [37]:
#Create a target object
y_target = df_ad_budget_data_ind[['Sales ($)']]
y_target.head()

   Sales ($)
1       22.1
2       10.4
3        9.3
4       18.5
5       12.9

In [38]:
#Verify if all observations have been captured in the feature object
X_features.shape

(200, 3)

In [39]:
#Verify if all observations have been captured in the target object
y_target.shape

(200, 1)

In [40]:
df_ad_budget_data_ind

     TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1               230.1                 37.8                     69.2       22.1
2                44.5                 39.3                     45.1       10.4
3                17.2                 45.9                     69.3        9.3
4               151.5                 41.3                     58.5       18.5
5               180.8                 10.8                     58.4       12.9
..                ...                  ...                      ...        ...
196              38.2                  3.7                     13.8        7.6
197              94.2                  4.9                      8.1        9.7
198             177.0                  9.3                      6.4       12.8
199             283.6                 42.0                     66.2       25.5
200             232.1                  8.6                      8.7       13.4

[200 rows x 4 columns]

### Split the original dataset into training and testing datasets for the model

In [43]:
#Import Scikit Learn function
from sklearn.model_selection import train_test_split

In [74]:
#Split the dataset by 75:25
X_train, X_test, y_train, y_test = train_test_split(X_features, y_target, random_state=27)

In [75]:
#Verify if the training and testing dataset have a correct split
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(150, 3)
(50, 3)
(150, 1)
(50, 1)

### Create a model to predict the sales outcome

In [64]:
#Create a linear regression model
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(X_train, y_train)

LinearRegression()

In [65]:
#sales -> constant + coef1*(TV Budget) + coef2*(Radio budget) + coef3*(Newspaper budget)
#print coefficients
print(linreg.intercept_)
print(linreg.coef_)

[2.79916791]
[[0.04648022 0.1845547  0.00286741]]

In [83]:
#sales -> 2.79916791 + 0.04648022*(TV Budget) + 0.1845547*(Radio budget) + 0.00286741*(Newspaper budget)
#Predict the outcome for the testing dataset
y_pred = linreg.predict(X_test)
y_pred

array([[14.75846783],
       [16.41852084],
       [16.41759144],
       [12.03709252],
       [20.70723013],
       [17.29565452],
       [14.96988622],
       [19.65050706],
       [23.56456091],
       [11.97347741],
       [19.50018553],
       [12.76087618],
       [10.57222916],
       [18.94036675],
       [ 8.59530013],
       [21.85921162],
       [12.62654629],
       [14.56942078],
       [ 9.97244579],
       [16.37300148],
       [15.78422833],
       [13.0595913 ],
       [14.24547458],
       [17.10679479],
       [18.06357979],
       [10.40616358],
       [ 9.69680278],
       [10.48598218],
       [16.34460782],
       [11.46674105],
       [10.58161139],
       [ 8.17350495],
       [ 9.10425404],
       [ 7.90763047],
       [23.2733627 ],
       [ 4.44591202],
       [ 4.43201673],
       [ 9.83072166],
       [12.90035894],
       [13.42658867],
       [15.33659361],
       [19.64025587],
       [ 7.72524213],
       [15.61866872],
       [17.98812442],
       [13.69839908],
       [ 6.54033781],
       [10.97508723],
       [ 5.29713478],
       [ 5.1469155 ]])

In [84]:
y_test

     Sales ($)
104       14.7
49        14.8
41        16.6
149       10.9
186       22.6
75        17.0
163       14.9
110       19.8
102       23.8
174       11.7
140       20.7
198       12.8
13         9.2
69        18.9
79         5.3
59        23.8
10        10.6
166       11.9
91        11.2
96        16.9
132       12.7
64        14.0
161       14.4
28        15.9
60        18.4
95        11.5
146       10.3
127        6.6
195       17.3
87        12.0
181       10.5
50         9.7
126       10.6
130        9.7
148       25.4
193        5.9
77         6.9
39        10.1
116       12.6
168       12.2
157       15.3
125       19.7
66         9.3
88        16.0
170       15.0
123       11.6
118        9.4
165       11.9
196        7.6
156        3.2

In [85]:
y_check = y_test

In [86]:
# y_check['Sales Prediction ($)'] = y_pred

In [87]:
y_check

     Sales ($)
104       14.7
49        14.8
41        16.6
149       10.9
186       22.6
75        17.0
163       14.9
110       19.8
102       23.8
174       11.7
140       20.7
198       12.8
13         9.2
69        18.9
79         5.3
59        23.8
10        10.6
166       11.9
91        11.2
96        16.9
132       12.7
64        14.0
161       14.4
28        15.9
60        18.4
95        11.5
146       10.3
127        6.6
195       17.3
87        12.0
181       10.5
50         9.7
126       10.6
130        9.7
148       25.4
193        5.9
77         6.9
39        10.1
116       12.6
168       12.2
157       15.3
125       19.7
66         9.3
88        16.0
170       15.0
123       11.6
118        9.4
165       11.9
196        7.6
156        3.2

### Calculate the Mean Squared Error (MSE)

In [88]:
from sklearn import metrics
import numpy as np

In [89]:
y_test

     Sales ($)
104       14.7
49        14.8
41        16.6
149       10.9
186       22.6
75        17.0
163       14.9
110       19.8
102       23.8
174       11.7
140       20.7
198       12.8
13         9.2
69        18.9
79         5.3
59        23.8
10        10.6
166       11.9
91        11.2
96        16.9
132       12.7
64        14.0
161       14.4
28        15.9
60        18.4
95        11.5
146       10.3
127        6.6
195       17.3
87        12.0
181       10.5
50         9.7
126       10.6
130        9.7
148       25.4
193        5.9
77         6.9
39        10.1
116       12.6
168       12.2
157       15.3
125       19.7
66         9.3
88        16.0
170       15.0
123       11.6
118        9.4
165       11.9
196        7.6
156        3.2

In [90]:
#Calculate the MSE
print(metrics.mean_squared_error(y_test, y_pred))

2.4972996158775893

In [91]:
#Calculate the RMSE
print(np.sqrt(metrics.root_mean_squared_error(y_test, y_pred)))

1.2570937367298864